body {
  font-family: Arial;
  text-align: center;
  background-image: url(resources/background.png);
  background-size: cover;
}

h1 {
  margin-top: 20px;
}

img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
} 

h3{
  color: white;
}



#ticket_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 25%;
  width: 50vw;
  height: 70vh;
  border: 2px solid rgb(106, 40, 5);
  box-shadow: 0 0 10px rgb(122, 64, 2);
  background-color: rgb(109, 59, 4);
}

#newTickets {
  display: flex;;
  justify-content: center;
  margin-left: 38%;
  margin-top: 10px;
  width: 300px;
  padding: 10px 15px;
  background: gold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#total{
    color: white;
}

#game {
  display: grid;
  height: 50vh;
  width: 100vw;
  grid-template-columns: repeat(4, 150px);
  gap: 8px;
  margin-top: 25px;
  justify-content: center;
}



.card {
  position: relative;
  width: 10vw;
  height: 25vh;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px black;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  cursor: pointer;
}

#total {
  margin-top: 20px;
  font-size: 20px;
}